@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .clip-polygon {
      clip-path: polygon(100% 65%, -0% 84%, 100% 100%);
    }
  }
*{
  margin: 0;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]{
  -moz-appearance: textfield;
}
  
body{
    width: 100vw;
    height: 100vh;
     position: relative;
    overflow-x: hidden;
    font-family: "Roboto";
}

